# Question 9: Concatenate two data frames using the following conditions
### Create two data frames using the following two Dicts, Concatenate those two data frames and create a key for each data frame.

In [34]:
import pandas as pd
GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

df1 = pd.DataFrame(GermanCars)
df2 = pd.DataFrame(japaneseCars)
carsDF = pd.concat([df1, df2], keys=["Germany", "Japan"])
carsDF

               Company   Price
Germany 0         Ford   23845
        1     Mercedes  171995
        2          BMV  135925
        3         Audi   71400
Japan   0       Toyota   29995
        1        Honda   23600
        2       Nissan   61500
        3  Mitsubishi    58900

# Question 10: Merge two data frames using the following condition

In [37]:
Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

dfCP = pd.DataFrame(Car_Price)
dfCH = pd.DataFrame(car_Horsepower)

cars_merge = pd.merge(dfCP, dfCH)
cars_merge

  Company   Price  horsepower
0  Toyota   23845         141
1   Honda   17995          80
2     BMV  135925         182
3    Audi   71400         160