## homeless_data verisi uzerinde calisalim:

In [158]:
import pandas as pd
df = pd.read_pickle("homeless_data.pkl")

18. df nin ilk bes gozlemini yazdirin

In [159]:
df.head(5)

               region       state  individuals  family_members  state_pop
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

19. df hakkinda yapisal bilgileri yazdirin

In [160]:
df.shape

(51, 5)

20. df 'nin boyutunu yazdirin

In [162]:
df.ndim

2

21. df'in degiskenlerinin istatistiklerini yazdirin

In [167]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
individuals,51.0,7.225784e+03,1.599103e+04,434.0,1446.5,3082.0,6781.5,109008.0
family_members,51.0,3.504882e+03,7.805412e+03,75.0,592.0,1482.0,3196.0,52070.0
state_pop,51.0,6.405637e+06,7.327258e+06,577601.0,1777413.5,4461153.0,7340946.5,39461588.0

22. df'i iki boyutlu numpy arrayi olarak yazdirin

In [165]:
df.values

array([['East South Central', 'Alabama', 2570.0, 864.0, 4887681],
       ['Pacific', 'Alaska', 1434.0, 582.0, 735139],
       ['Mountain', 'Arizona', 7259.0, 2606.0, 7158024],
       ['West South Central', 'Arkansas', 2280.0, 432.0, 3009733],
       ['Pacific', 'California', 109008.0, 20964.0, 39461588],
       ['Mountain', 'Colorado', 7607.0, 3250.0, 5691287],
       ['New England', 'Connecticut', 2280.0, 1696.0, 3571520],
       ['South Atlantic', 'Delaware', 708.0, 374.0, 965479],
       ['South Atlantic', 'District of Columbia', 3770.0, 3134.0, 701547],
       ['South Atlantic', 'Florida', 21443.0, 9587.0, 21244317],
       ['South Atlantic', 'Georgia', 6943.0, 2556.0, 10511131],
       ['Pacific', 'Hawaii', 4131.0, 2399.0, 1420593],
       ['Mountain', 'Idaho', 1297.0, 715.0, 1750536],
       ['East North Central', 'Illinois', 6752.0, 3891.0, 12723071],
       ['East North Central', 'Indiana', 3776.0, 1482.0, 6695497],
       ['West North Central', 'Iowa', 1711.0, 1038.0, 3148618],
       ['West North Central', 'Kansas', 1443.0, 773.0, 2911359],
       ['East South Central', 'Kentucky', 2735.0, 953.0, 4461153],
       ['West South Central', 'Louisiana', 2540.0, 519.0, 4659690],
       ['New England', 'Maine', 1450.0, 1066.0, 1339057],
       ['South Atlantic', 'Maryland', 4914.0, 2230.0, 6035802],
       ['New England', 'Massachusetts', 6811.0, 13257.0, 6882635],
       ['East North Central', 'Michigan', 5209.0, 3142.0, 9984072],
       ['West North Central', 'Minnesota', 3993.0, 3250.0, 5606249],
       ['East South Central', 'Mississippi', 1024.0, 328.0, 2981020],
       ['West North Central', 'Missouri', 3776.0, 2107.0, 6121623],
       ['Mountain', 'Montana', 983.0, 422.0, 1060665],
       ['West North Central', 'Nebraska', 1745.0, 676.0, 1925614],
       ['Mountain', 'Nevada', 7058.0, 486.0, 3027341],
       ['New England', 'New Hampshire', 835.0, 615.0, 1353465],
       ['Mid-Atlantic', 'New Jersey', 6048.0, 3350.0, 8886025],
       ['Mountain', 'New Mexico', 1949.0, 602.0, 2092741],
       ['Mid-Atlantic', 'New York', 39827.0, 52070.0, 19530351],
       ['South Atlantic', 'North Carolina', 6451.0, 2817.0, 10381615],
       ['West North Central', 'North Dakota', 467.0, 75.0, 758080],
       ['East North Central', 'Ohio', 6929.0, 3320.0, 11676341],
       ['West South Central', 'Oklahoma', 2823.0, 1048.0, 3940235],
       ['Pacific', 'Oregon', 11139.0, 3337.0, 4181886],
       ['Mid-Atlantic', 'Pennsylvania', 8163.0, 5349.0, 12800922],
       ['New England', 'Rhode Island', 747.0, 354.0, 1058287],
       ['South Atlantic', 'South Carolina', 3082.0, 851.0, 5084156],
       ['West North Central', 'South Dakota', 836.0, 323.0, 878698],
       ['East South Central', 'Tennessee', 6139.0, 1744.0, 6771631],
       ['West South Central', 'Texas', 19199.0, 6111.0, 28628666],
       ['Mountain', 'Utah', 1904.0, 972.0, 3153550],
       ['New England', 'Vermont', 780.0, 511.0, 624358],
       ['South Atlantic', 'Virginia', 3928.0, 2047.0, 8501286],
       ['Pacific', 'Washington', 16424.0, 5880.0, 7523869],
       ['South Atlantic', 'West Virginia', 1021.0, 222.0, 1804291],
       ['East North Central', 'Wisconsin', 2740.0, 2167.0, 5807406],
       ['Mountain', 'Wyoming', 434.0, 205.0, 577601]], dtype=object)

23. df'in degisken(kolon) isimlerini bir baska degisle kolon index isimlerini yazdirin

In [173]:
df.columns

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

24. df'in gozlem(satir) indekslerini yazdirin

In [174]:
df.index

Int64Index([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
            17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
            34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49,
            50],
           dtype='int64')

25. df.sort_values('variable_name')

In [177]:
# df i  individuals degiskenine gore siralayiniz.  df_ind ile kaydediniz

df_ind = df.sort_values('individuals')

# df_ind  in ilk 5 gozlemini yazdiriniz
print(df_ind.head())

                region         state  individuals  family_members  state_pop
50            Mountain       Wyoming        434.0           205.0     577601
34  West North Central  North Dakota        467.0            75.0     758080
7       South Atlantic      Delaware        708.0           374.0     965479
39         New England  Rhode Island        747.0           354.0    1058287
45         New England       Vermont        780.0           511.0     624358

26. df.sort_values('variable_name', ascending=False )

In [178]:
# df i family members degiskenine gore tersten (buyukten kucuge) siralayiniz.    df_fam adi ile kaydediniz 
# (ascending=duz=kucukten buyuge)

df_fam = df.sort_values('family_members', ascending = False)

# df_fam in ilk 5 gozlemini yazdiriniz
print(df_fam.head())

                region          state  individuals  family_members  state_pop
32        Mid-Atlantic       New York      39827.0         52070.0   19530351
4              Pacific     California     109008.0         20964.0   39461588
21         New England  Massachusetts       6811.0         13257.0    6882635
9       South Atlantic        Florida      21443.0          9587.0   21244317
43  West South Central          Texas      19199.0          6111.0   28628666

27. df.sort_values(['variable_name1','variable_name2'], ascending=[False,False] )

In [181]:
# df i region degiskenine gore duz ve bu siralamanin uzerine ayni zamanda family members degiskenine gore tersten siralayiniz.    
# df_reg_fam adi ile kaydediniz 

df_reg_fam = df.sort_values(['region','family_members'], ascending = [False,False])

# df_reg_fam in ilk 5 gozlemini yazdiriniz
print(df_reg_fam.head())

                region      state  individuals  family_members  state_pop
43  West South Central      Texas      19199.0          6111.0   28628666
36  West South Central   Oklahoma       2823.0          1048.0    3940235
18  West South Central  Louisiana       2540.0           519.0    4659690
3   West South Central   Arkansas       2280.0           432.0    3009733
23  West North Central  Minnesota       3993.0          3250.0    5606249

28. var = df['variable_name']

In [182]:
#  individuals  degiskenini seciniz ve individuals adi ile kaydediniz

individuals = df['individuals']

# individuals in ilk 5 gozlemini yazdiriniz
print(individuals.head())

0      2570.0
1      1434.0
2      7259.0
3      2280.0
4    109008.0
Name: individuals, dtype: float64

29. df[['variable_name1','variable_name2']]

In [183]:
# state ve family_members degiskenlerini seciniz:   state_fam 

state_fam = df[['state', 'family_members']]

# sonucun bas kismini yazdiriniz
print(state_fam.head())

        state  family_members
0     Alabama           864.0
1      Alaska           582.0
2     Arizona          2606.0
3    Arkansas           432.0
4  California         20964.0

In [185]:
# individuals ve state columns degiskenlerini seciniz:  ind_state

ind_state = df[['individuals','state']]

# sonucun bas kismini yazdiriniz
print(ind_state.head())

   individuals       state
0       2570.0     Alabama
1       1434.0      Alaska
2       7259.0     Arizona
3       2280.0    Arkansas
4     109008.0  California

30. df[ df['variable'] > 100 ]

In [188]:
# individuals degerinin  10000  den fazla oldugu gozlemleri seciniz:  ind_buyuk_10k

ind_buyuk_10k = df[df['individuals'] > 1000]

# ind_buyuk_10k u yazdiriniz
print(ind_buyuk_10k)

                region                 state  individuals  family_members  \
0   East South Central               Alabama       2570.0           864.0
1              Pacific                Alaska       1434.0           582.0
2             Mountain               Arizona       7259.0          2606.0
3   West South Central              Arkansas       2280.0           432.0
4              Pacific            California     109008.0         20964.0
5             Mountain              Colorado       7607.0          3250.0
6          New England           Connecticut       2280.0          1696.0
8       South Atlantic  District of Columbia       3770.0          3134.0
9       South Atlantic               Florida      21443.0          9587.0
10      South Atlantic               Georgia       6943.0          2556.0
11             Pacific                Hawaii       4131.0          2399.0
12            Mountain                 Idaho       1297.0           715.0
13  East North Central              Illinois       6752.0          3891.0
14  East North Central               Indiana       3776.0          1482.0
15  West North Central                  Iowa       1711.0          1038.0
16  West North Central                Kansas       1443.0           773.0
17  East South Central              Kentucky       2735.0           953.0
18  West South Central             Louisiana       2540.0           519.0
19         New England                 Maine       1450.0          1066.0
20      South Atlantic              Maryland       4914.0          2230.0
21         New England         Massachusetts       6811.0         13257.0
22  East North Central              Michigan       5209.0          3142.0
23  West North Central             Minnesota       3993.0          3250.0
24  East South Central           Mississippi       1024.0           328.0
25  West North Central              Missouri       3776.0          2107.0
27  West North Central              Nebraska       1745.0           676.0
28            Mountain                Nevada       7058.0           486.0
30        Mid-Atlantic            New Jersey       6048.0          3350.0
31            Mountain            New Mexico       1949.0           602.0
32        Mid-Atlantic              New York      39827.0         52070.0
33      South Atlantic        North Carolina       6451.0          2817.0
35  East North Central                  Ohio       6929.0          3320.0
36  West South Central              Oklahoma       2823.0          1048.0
37             Pacific                Oregon      11139.0          3337.0
38        Mid-Atlantic          Pennsylvania       8163.0          5349.0
40      South Atlantic        South Carolina       3082.0           851.0
42  East South Central             Tennessee       6139.0          1744.0
43  West South Central                 Texas      19199.0          6111.0
44            Mountain                  Utah       1904.0           972.0
46      South Atlantic              Virginia       3928.0          2047.0
47             Pacific            Washington      16424.0          5880.0
48      South Atlantic         West Virginia       1021.0           222.0
49  East North Central             Wisconsin       2740.0          2167.0

    state_pop
0     4887681
1      735139
2     7158024
3     3009733
4    39461588
5     5691287
6     3571520
8      701547
9    21244317
10   10511131
11    1420593
12    1750536
13   12723071
14    6695497
15    3148618
16    2911359
17    4461153
18    4659690
19    1339057
20    6035802
21    6882635
22    9984072
23    5606249
24    2981020
25    6121623
27    1925614
28    3027341
30    8886025
31    2092741
32   19530351
33   10381615
35   11676341
36    3940235
37    4181886
38   12800922
40    5084156
42    6771631
43   28628666
44    3153550
46    8501286
47    7523869
48    1804291
49    5807406

31. df[ df['variable']=='example' ]

In [191]:
#  region degiskeni  Mountain  olan gozlemleri deciniz:  mountain_reg

mountain_reg = df[df['region'] == 'Mountain']

# sonucu gorelim
print(mountain_reg)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
5   Mountain    Colorado       7607.0          3250.0    5691287
12  Mountain       Idaho       1297.0           715.0    1750536
26  Mountain     Montana        983.0           422.0    1060665
28  Mountain      Nevada       7058.0           486.0    3027341
31  Mountain  New Mexico       1949.0           602.0    2092741
44  Mountain        Utah       1904.0           972.0    3153550
50  Mountain     Wyoming        434.0           205.0     577601

32. df[(df["variable1"] < 100) & (df["variable2"] == "example")]

In [194]:
# family_members degeri 1000 den kucuk olan ve region i Pacific  olan gozlemleri seciniz: fam_buyuk_1k_pac

fam_buyuk_1k_pac = df[(df['family_members'] > 1000) & (df['region'] == 'Pacific')]

# sonucu gorelim
print(fam_buyuk_1k_pac)

     region       state  individuals  family_members  state_pop
4   Pacific  California     109008.0         20964.0   39461588
11  Pacific      Hawaii       4131.0          2399.0    1420593
37  Pacific      Oregon      11139.0          3337.0    4181886
47  Pacific  Washington      16424.0          5880.0    7523869

33. df["variable"] .isin([a,b,c,d])

BILGI:

colors = ["brown", "black", "tan"]
condition = dogs["color"].isin(colors)
dogs[condition]

veya

colors = ["brown", "black", "tan"]
dogs[ dogs["color"].isin(colors) ]

In [196]:
# region degiskeni   South Atlantic  veya  Mid-Atlantic  olan gozlemleri seciniz:  south_mid_atlantic

south_mid_atlantic = df[(df['region'] == 'South Atlantic') | (df['region'] == 'Mid-Atlantic')]

# gorelim
print(south_mid_atlantic)

            region                 state  individuals  family_members  \
7   South Atlantic              Delaware        708.0           374.0
8   South Atlantic  District of Columbia       3770.0          3134.0
9   South Atlantic               Florida      21443.0          9587.0
10  South Atlantic               Georgia       6943.0          2556.0
20  South Atlantic              Maryland       4914.0          2230.0
30    Mid-Atlantic            New Jersey       6048.0          3350.0
32    Mid-Atlantic              New York      39827.0         52070.0
33  South Atlantic        North Carolina       6451.0          2817.0
38    Mid-Atlantic          Pennsylvania       8163.0          5349.0
40  South Atlantic        South Carolina       3082.0           851.0
46  South Atlantic              Virginia       3928.0          2047.0
48  South Atlantic         West Virginia       1021.0           222.0

    state_pop
7      965479
8      701547
9    21244317
10   10511131
20    6035802
30    8886025
32   19530351
33   10381615
38   12800922
40    5084156
46    8501286
48    1804291

34. df[df['column'].isin(a_list)]

In [197]:
cities = ["California", "Arizona", "Nevada", "Utah"]

# state degiskeni  cities  listesinin icinde olan gozlemleri seciniz/filtreleyiniz:  cities_df

cities_df = df[df['state'].isin(cities)]

# gorelim
print(cities_df)

      region       state  individuals  family_members  state_pop
2   Mountain     Arizona       7259.0          2606.0    7158024
4    Pacific  California     109008.0         20964.0   39461588
28  Mountain      Nevada       7058.0           486.0    3027341
44  Mountain        Utah       1904.0           972.0    3153550

35. Simple Feature Engineering

In [199]:
# individuals  ve  family_members  degiskenlerinin toplamini belirten  total  adli bir degisken ekleyiniz

df['total'] = df['individuals'] + df['family_members']

# tek yasayan evsizlerin tum evsizlere olan oranini belirten bir degisken ekleyiniz: o_individuals
# bunu  individuals / total ile bulabiliriz:

df['o_individuals'] = df['individuals'] / df['total']

# df.head() in son hali:
print(df.head())

               region       state  individuals  family_members  state_pop  \
0  East South Central     Alabama       2570.0           864.0    4887681
1             Pacific      Alaska       1434.0           582.0     735139
2            Mountain     Arizona       7259.0          2606.0    7158024
3  West South Central    Arkansas       2280.0           432.0    3009733
4             Pacific  California     109008.0         20964.0   39461588

      total  o_individuals
0    3434.0       0.748398
1    2016.0       0.711310
2    9865.0       0.735834
3    2712.0       0.840708
4  129972.0       0.838704

36. Simple Feature Engineering

In [207]:
# tek yasayan evsizlerin sehir populasyonuna oranini bulunuz, bu kisi basi kac tane evsiz oldugu anlamina gelir
# bu orani 10000 ile carparsak 10000 kiside kac tane evsiz vardir buna ulasiriz
# bu bilgiyi  indiv_per_10k  degisken adi ile df e ekleyiniz


df['indiv_per_10k'] = df['individuals'] / df['state_pop'] * 10000

# 10000 kiside 20 den fazla evsizin bulundugu sehirleri seciniz/filtreleyiniz, yeni df yi  high_df  adi ile kaydediniz

high_df = df[df['indiv_per_10k'] > 20]

# high_df  dataframeini  indiv_per_10k  degiskenine gore buyukten kucuge dogru siralayiniz: high_df_srt
high_df_srt = high_df.sort_values(['indiv_per_10k'], ascending=False)

# high_df_srt  dataframinin  state  ve  indiv_per_10k   degiskenlerini seciniz: sonuc
sonuc = high_df_srt[['state','indiv_per_10k']]

# gorelim
print(sonuc)

                   state  indiv_per_10k
8   District of Columbia      53.738381
11                Hawaii      29.079406
4             California      27.623825
37                Oregon      26.636307
28                Nevada      23.314189
47            Washington      21.829195
32              New York      20.392363