## Kumulatif islemler

In [1]:
import pandas as pd
# !!!  yukaridaki dataframe i df olarak kaydettik, buradaki dataframe i farkli bir isimle kaydedelim:
satislar = pd.read_pickle("walmart_sales.pkl")

In [2]:
# store 1 ve department 1 secilip ilk 20 gozlem uzerinde calisalim: 
# bu dataframe'i satislar1 adiyla kaydedelim.
satislar1 = satislar[  (satislar['store']==1) & (satislar['department']==1 )  ]
satislar1 = satislar1[:20]

In [3]:
satislar1.head()

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
73,1,A,1,2010-02-12,46039.49,True,3.616667,0.673111,8.106
145,1,A,1,2010-02-19,41595.55,False,4.405556,0.664129,8.106
218,1,A,1,2010-02-26,19403.54,False,8.127778,0.676545,8.106
290,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106

44. Feature Engineering: .cumsum() .cummax()

In [4]:
# satislar i date e gore siralayiniz ve ayni isimle kaydediniz: satislar1
satislar1 = satislar1.sort_values('date')

# satislar1 i weekly_sales e gore kumulatif toplamini aliniz ve 
# cum_weekly_sales adiyla yeni bir degisken olarak atayiniz
satislar1['cum_weekly_sales'] = satislar1.weekly_sales.cumsum()

# satislar1 i weekly_sales e gore kumulatif max ini aliniz ve 
# cum_max_sales adiyla yeni bir degisken olarak atayiniz
satislar1['cum_max_sales'] = satislar1.weekly_sales.cummax()

# ilgili degiskenleri secip yazdiriniz
print(satislar1[["date", "weekly_sales", "cum_weekly_sales", "cum_max_sales"]])

           date  weekly_sales  cum_weekly_sales  cum_max_sales
0    2010-02-05      24924.50          24924.50       24924.50
73   2010-02-12      46039.49          70963.99       46039.49
145  2010-02-19      41595.55         112559.54       46039.49
218  2010-02-26      19403.54         131963.08       46039.49
290  2010-03-05      21827.90         153790.98       46039.49
363  2010-03-12      21043.39         174834.37       46039.49
436  2010-03-19      22136.64         196971.01       46039.49
508  2010-03-26      26229.21         223200.22       46039.49
580  2010-04-02      57258.43         280458.65       57258.43
652  2010-04-09      42960.91         323419.56       57258.43
725  2010-04-16      17596.96         341016.52       57258.43
798  2010-04-23      16145.35         357161.87       57258.43
870  2010-04-30      16555.11         373716.98       57258.43
941  2010-05-07      17413.94         391130.92       57258.43
1013 2010-05-14      18926.74         410057.66       57258.43
1085 2010-05-21      14773.04         424830.70       57258.43
1155 2010-05-28      15580.43         440411.13       57258.43
1225 2010-06-04      17558.09         457969.22       57258.43
1296 2010-06-11      16637.62         474606.84       57258.43
1367 2010-06-18      16216.27         490823.11       57258.43

Bu soruda, satislar verisini tarihe gore siraladik, her hafta o haftaya kadar olan toplam satisi hesapladik, ve her hafta o haftaya kadar gecen haftalar icindeki max satisi mevcut haftaya yazdik.

45. df.drop_duplicates(['var1'])

In [8]:
satislar2 = satislar[['store','type','department','is_holiday']]

# store degiskeni tekrar eden gozlemleri teke dusurelim:  store
store = satislar2.drop_duplicates(['store'])
print(store.head())

# store/type ikilisi olarak tekrar eden gozlemleri teke dusurelim:  store_types
store_types = satislar2.drop_duplicates(['store','type'])
print(store_types.head())

# store/department ikilisi olarak tekrar eden gozlemleri teke dusurunuz:  store_depts
store_depts = satislar2.drop_duplicates(['store','department'])
print(store_depts.head())

       store type  department  is_holiday
0          1    A           1       False
10244      2    A           1       False
20482      3    B           1       False
29518      4    A           1       False
39790      5    B           1       False
       store type  department  is_holiday
0          1    A           1       False
10244      2    A           1       False
20482      3    B           1       False
29518      4    A           1       False
39790      5    B           1       False
   store type  department  is_holiday
0      1    A           1       False
1      1    A           2       False
2      1    A           3       False
3      1    A           4       False
4      1    A           5       False

In [6]:
# satislar in tatil olan gozlemlerini seciniz ve bunlar uzerinde date e gore tekrar edenleri teke dusurunuz (unique)
# satislar_tatil adi ile kaydediniz
satislar_tatil = satislar[satislar['is_holiday'] == True].drop_duplicates('date')
# tatil iken haftalik satislari yazdiriniz
print(satislar_tatil[['date','weekly_sales']])

           date  weekly_sales
73   2010-02-12      46039.49
2218 2010-09-10      18194.74
3014 2010-11-26      18820.29
3372 2010-12-31      19124.58
3800 2011-02-11      37887.17
5940 2011-09-09      17746.68
6731 2011-11-25      20911.25
7096 2011-12-30      23350.88
7527 2012-02-10      36988.49
9667 2012-09-07      18322.37

46. df['variable'].value_counts()

In [25]:
# Tipine gore magaza sayilarini bulunuz: 
satislar['type'].value_counts()

A    215478
B    155044
C     42597
Name: type, dtype: int64

47. df['variable'].value_counts(normalize=True)

In [22]:
# Tipine gore magaza oranlarini bulunuz:
satislar['type'].value_counts(normalize=True)

A    0.521588
B    0.375301
C    0.103111
Name: type, dtype: float64

48. df['variable'].value_counts(sort=True)

In [9]:
# Tipine gore magazalarin departman sayilari, sirali olarak yazdiriniz: 
store_depts['department'].value_counts(sort=True)

1     45
9     45
4     45
6     45
8     45
      ..
37    20
50    14
43     5
39     5
65     1
Name: department, Length: 81, dtype: int64

45 magazada departman1 varmis
45 magazada departman9 varmis
...
sadece 1 tane magazada departman65 varmis

In [32]:
# yukaridaki sonucun oransal degerleri ve siralanmis hali berabear yazdiralim:
dept_props_sorted = store_depts['department'].value_counts(sort=True, normalize=True)
print(dept_props_sorted)

1     0.013778
9     0.013778
4     0.013778
6     0.013778
8     0.013778
        ...
37    0.006124
50    0.004287
43    0.001531
39    0.001531
65    0.000306
Name: department, Length: 81, dtype: float64

49.

In [10]:
# Haftalik satislarin tumunun toplami:
satislar_hepsi = satislar["weekly_sales"].sum()

# A tipinde olan magazalarin tumunun hafalik satis toplamini hesaplayiniz: satislar_A adi ile kaydedinz

satislar_A = satislar[satislar['type'] == 'A']["weekly_sales"].sum()

# B tipinde olan magazalarin tumunun haftalik satis toplamini hesaplayiniz: satislar_B adi ile kaydedinz
satislar_B = satislar[satislar['type'] == 'B']["weekly_sales"].sum()

# C tipinde olan magazalarin tumunun haftalik satis toplamini hesaplayiniz: satislar_C adi ile kaydedinz
satislar_C = satislar[satislar['type'] == 'C']["weekly_sales"].sum()

print([satislar_hepsi,satislar_A, satislar_B, satislar_C])


# Herbirinin oranlari:
satislarin_oranlari = [satislar_A, satislar_B, satislar_C] / satislar_hepsi
print(satislarin_oranlari)

[6649037445.509999, 4331014722.749999, 1912519195.2199998, 405503527.53999996]
[0.65137469 0.28763851 0.0609868 ]

50.

In [11]:
# type a gore guruplayiniz, magaza tiplerinin haftalik satis toplamlarini bulunuz: satislar_tipe_gore
satislar_tipe_gore = satislar.groupby('type')["weekly_sales"].sum()
print( satislar_tipe_gore )


# satis miktarlarini (uc tipin miktarlari) toplamlarina bolerek oranlarini bulunuz
satislar_orani = satislar_tipe_gore/sum(satislar_tipe_gore)
print(satislar_orani)

type
A    4.331015e+09
B    1.912519e+09
C    4.055035e+08
Name: weekly_sales, dtype: float64
type
A    0.651375
B    0.287639
C    0.060987
Name: weekly_sales, dtype: float64

In [ ]:
# haftalik satislari tip ve tatil durumuna a gore guruplayiniz, 
# (cift guruplama: ornegin tipi A olan magazada tatil olma durumuna gore satis sayilari ... gibi)
satislar_tip_ve_tatile_gore = satislar.groupby(['type','is_holiday'])["weekly_sales"].sum()


print(satislar_tip_ve_tatile_gore)