## Aggregating

### ozet istatistikler

In [1]:
import pandas as pd
# !!!  yukaridaki dataframe i df olarak kaydettik, buradaki dataframe i farkli bir isimle kaydedelim:
satislar = pd.read_pickle("walmart_sales.pkl")

37. satislar dataframe'inin ilk bes gozlemini yazdiriniz

In [2]:
satislar.head(5)

,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,A,2,2010-02-05,50605.27,False,5.727778,0.679451,8.106
2,1,A,3,2010-02-05,13740.12,False,5.727778,0.679451,8.106
3,1,A,4,2010-02-05,39954.04,False,5.727778,0.679451,8.106
4,1,A,5,2010-02-05,32229.38,False,5.727778,0.679451,8.106

38. satislar dataframe'i hakkinda yapisal bilgileri yazdirin

In [3]:
satislar.info

<bound method DataFrame.info of         store type  department       date  weekly_sales  is_holiday  \
0           1    A           1 2010-02-05      24924.50       False
1           1    A           2 2010-02-05      50605.27       False
2           1    A           3 2010-02-05      13740.12       False
3           1    A           4 2010-02-05      39954.04       False
4           1    A           5 2010-02-05      32229.38       False
...       ...  ...         ...        ...           ...         ...
413114     45    B           4 2012-10-26      24627.94       False
413115     45    B           5 2012-10-26      13256.59       False
413116     45    B           6 2012-10-26       1086.31       False
413117     45    B           7 2012-10-26      20356.73       False
413118     45    B           8 2012-10-26      37857.64       False

        temperature_c  fuel_price_usd_per_l  unemployment
0            5.727778              0.679451         8.106
1            5.727778              0.679451         8.106
2            5.727778              0.679451         8.106
3            5.727778              0.679451         8.106
4            5.727778              0.679451         8.106
...               ...                   ...           ...
413114      14.916667              1.025516         8.667
413115      14.916667              1.025516         8.667
413116      14.916667              1.025516         8.667
413117      14.916667              1.025516         8.667
413118      14.916667              1.025516         8.667

[413119 rows x 9 columns]>

39. weekly_sales degiskeninin ortalamasini yazdiriniz:

In [6]:
satislar['weekly_sales'].mean()

16094.726811185497

40. weekly_sales degiskeninin ortanca degerini yazdiriniz:

In [7]:
satislar['weekly_sales'].median()

7682.47

41. Son satilan urun hangi tarihte satilmistir

In [8]:
satislar['date'].max()

Timestamp('2012-10-26 00:00:00')

42. Ilk satilan urun hangi tarihte satilmistir

In [9]:
satislar['date'].min()

Timestamp('2010-02-05 00:00:00')

43. satislar['variable'].agg(a_function)

df.column.agg(function)

df['column1','column2','column3'].agg(['function1','function2'])

In [10]:
# kendi tanimladigimiz bir IQR fonk u:
def iqr(kolon):
    """"Bu fonk, gelen kolonlarin 3.ceyrek degeri ile 1.ceyrek degeri arasindaki farki geri dondurur"""
    return kolon.quantile(0.75) - kolon.quantile(0.25)
    
# satis dataframe inin  temperature_c  degiskeninin  IQR  degerini yazdiralim
# DIKKAT! : bir fonk agg() ile kullanilinca () ve parametre kullanilmaz. 
# agg(fonk)  seklinde yazildiginda parametresini otomatik alir
print(satislar['temperature_c'].agg(iqr))

15.299999999999994

In [11]:
# yukaridaki gibi  temperature_c,  fuel_price_usd_per_l  ve  unemployment   degiskenlerinin IQR degerlerini yazdiriniz
print(satislar['temperature_c'].agg(iqr))
print(satislar['fuel_price_usd_per_l'].agg(iqr))
print(satislar['unemployment'].agg(iqr))

15.299999999999994
0.21186608584010713
1.6719999999999988

In [14]:
import numpy as np
def iqr(kolon):
    a = np.median(kolon)
    return kolon.quantile(0.75) - kolon.quantile(0.25) + a
# yukaridaki kodu editleyip, iqr fonksiyonu ile birlikte np.median fonk unu da beraber aggregate ediniz

In [16]:
print(satislar['temperature_c'].agg(iqr))
print(satislar['fuel_price_usd_per_l'].agg(iqr))
print(satislar['unemployment'].agg(iqr))

32.05
1.1237884403538851
9.524