# Veri Manipulasyonu 201: Pandas

1. sozlukten Dataframe olusturma:  pd.DataFrame()

In [1]:
isimler = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morocco', 'Egypt']
direks_sag =  [True, False, False, False, True, True, True]
arac_sayisi = [809, 731, 588, 18, 200, 70, 45]   # 10bin kisi basina dusen arac sayisi

# pandas kutuphanesini import ediniz
import pandas as pd

# verilen listeleri kullanarak sozlugum adli bir sozluk olusturunuz. 
# degisken adlari:  ulkeler,  direksiyon_sag,  arac_sayisi
sozlugum = { 'ulkeler':isimler, 'direks_sag':direks_sag  , 'arac_sayisi':arac_sayisi       }

# 'sozlugum' adli sozluk u Dataframe e ceviriniz: 'araclar' ismi ile kaydediniz
araclar = pd.DataFrame(sozlugum)

# bu dataframe i yazdiriniz
print(araclar)

         ulkeler  direks_sag  arac_sayisi
0  United States        True          809
1      Australia       False          731
2          Japan       False          588
3          India       False           18
4         Russia        True          200
5        Morocco        True           70
6          Egypt        True           45

2. gozlem indeksleri atama: df.index =

In [4]:
satir_indeksleri = ['US', 'AUS', 'JAP', 'IN', 'RU', 'MOR', 'EG']

# verilen diziyi araclar dataframe inin indeksi icin kullaniniz (atayiniz)

araclar.index = [satir_indeksleri]

# araclar dataframe ini tekrar yazdiriniz
print(araclar)

           ulkeler  direks_sag  arac_sayisi
US   United States        True          809
AUS      Australia       False          731
JAP          Japan       False          588
IN           India       False           18
RU          Russia        True          200
MOR        Morocco        True           70
EG           Egypt        True           45

3. csv dosyasi okuma:

In [144]:
# pandas i import ediniz:

import pandas as pd

# cars.csv  dosyasini cars adi ile kaydediniz
cars = pd.read_csv('cars.csv')

# cars verisinin ilk 5 gozlemini yazdiriniz
print(cars.head(5))

  Unnamed: 0  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True

In [145]:
# cars.columns[0] = ["kisa_ad"]     unnamed: 0  kolonunun ismini degistirebilirsiniz

cars.rename(columns={'Unnamed: 0':'kisa_ad'}, inplace=True)

cars.head(5)

  kisa_ad  cars_per_cap        country  drives_right
0      US           809  United States          True
1     AUS           731      Australia         False
2     JAP           588          Japan         False
3      IN            18          India         False
4      RU           200         Russia          True

4. ilk kolonu satirlarin indeksi olarak acmak icin kulanilan arguman:  index_col = 0

In [146]:
# ilk sutun gozlemlerin indeksi olarak belirlenmis olarak csv dosyasini okuyunuz:
cars = pd.read_csv('cars.csv', index_col = 0)


# cars verisini tekrar yazdiriniz
print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

5. Koseli parantezle degisken secme :

In [23]:
# country degiskenini bir Pandas Series olarak yazdiriniz
print(cars['country'])

# country degiskenini bir  Pandas DataFrame olarak yazdiriniz
print(cars[['country']])

US     United States
AUS        Australia
JAP            Japan
IN             India
RU            Russia
MOR          Morocco
EG             Egypt
Name: country, dtype: object
           country
US   United States
AUS      Australia
JAP          Japan
IN           India
RU          Russia
MOR        Morocco
EG           Egypt

In [28]:
# dataframe in sadece country ve drives_right degiskenlerini secerek yazdiriniz
cars.iloc[:,1:3]

           country  drives_right
US   United States          True
AUS      Australia         False
JAP          Japan         False
IN           India         False
RU          Russia          True
MOR        Morocco          True
EG           Egypt          True

6. Koseli parantezle gozlem secme :

In [31]:
# cars verisinin ilk 3 gozlemi yazdiriniz
print(cars.iloc[:3])

# 4. 5. ve 6. gozlemleri yazdiriniz
print(cars.iloc[3:6])

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
     cars_per_cap  country  drives_right
IN             18    India         False
RU            200   Russia          True
MOR            70  Morocco          True

7. loc ve iloc:

In [35]:
# sadece Japonya ya ait bilgileri yazdiriniz
print(cars.loc['JAP'])

# Avusturya ve Misira ait bilgileri yazdiriiniz
print(cars.loc[['AUS','EG']])

cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
     cars_per_cap    country  drives_right
AUS           731  Australia         False
EG             45      Egypt          True

8. loc ve iloc 2:

In [41]:
# Morocco a ait drives_right bilgisini yazdiriniz
print(cars.loc['MOR','drives_right'])

# rusya ve morocco nun country ve drives_right bilgilerini yazdiriniz:
print(cars.iloc[4:6,2:])

True
     drives_right
RU           True
MOR          True

9. loc ve iloc 3:

In [50]:
# drives_right kolonunu(degiskenini) bir Series olarak yazdiriniz:
print(cars.loc[:,'drives_right'])
series = cars.loc[:,'drives_right']
type(series)
# drives_right kolonunu(degiskenini) bir DataFrame olarak yazdiriniz:
print(cars.loc[:,['drives_right']])
df = cars.loc[:,['drives_right']]
# cars_per_cap ve drives_right kolonlarini(degiskenlerini) bir DataFrame olarak yazdiriniz:

type(df)

US      True
AUS    False
JAP    False
IN     False
RU      True
MOR     True
EG      True
Name: drives_right, dtype: bool
     drives_right
US           True
AUS         False
JAP         False
IN          False
RU           True
MOR          True
EG           True

pandas.core.frame.DataFrame

10. Pandas DataFrame uzerinde filtreleme:     df[df['column1']]

In [52]:
# sag direksiyonlu olanlari ifade eden drives_right kolonunu bir Series olarak dr adiyla kaydediniz: dr
dr = cars.loc[:,'drives_right']

#  dr i kullanarak cars dataframini filtreleyiniz, secilen adi ile kaydediniz: secilen
# (burada dr icindeki True lara karsilik gelen gozlemleri secilir, digerleri secilmez)
secilen = cars[dr]

# secilen  dataframini yazdiriniz
secilen

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

11. tek satirda ayni islem:

In [53]:
# Yukaridaki secme isleminin aynisini tek satirda yapiniz:
secilen = cars[cars['drives_right']]

# secilen  dataframe ini yazdiriniz:
print(secilen)

     cars_per_cap        country  drives_right
US            809  United States          True
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

12. Filtreleme-Secme 2:

In [55]:
# cars_per_cap degeri 500 den buyuk olan degerleri seciniz. bu veriyi  car_maniac  adiyla kaydediniz 

car_maniac = cars[cars['cars_per_cap'] > 500]



#  car_maniac  verisini yazdiriniz
print(car_maniac)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False

13. Filtreleme-Secme 3:

BILGI:
cpc = cars['cars_per_cap']
cars[ (cpc > 10) & (cpc < 80) ]

veya 

cpc = cars['cars_per_cap']
cars[ np.logical_and(cpc > 10, cpc < 80) ]

In [58]:
import numpy as np

# cars_per_cap degeri 500 den buyuk ve 100 den kucuk olan degerleri seciniz. bu veriyi  medium  adiyla kaydediniz
cpc = cars['cars_per_cap']
medium = cars[ np.logical_or(cpc > 500, cpc < 100) ]

# medium u yazdiriniz
print(medium)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
MOR            70        Morocco          True
EG             45          Egypt          True

14. DataFrame uzerinde dongu

BILGI:

for sutun, satir in df.iterrows() :
    ...

In [101]:
# cars uzerinde for ile dongu kurarak degisken adini ve o degiskenin gozlemlerini yazdiriniz

for sutun, satir in cars.iterrows() :
    print(sutun, satir)

US cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object
AUS cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object
JAP cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object
IN cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object
RU cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object
MOR cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object
EG cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

BILGI:

for sutun, satir in df.iterrows() :
    print(satir['country'])

In [78]:
for sutun, satir in cars.iterrows() :
    print(satir['country'])

United States
Australia
Japan
India
Russia
Morocco
Egypt

15. DataFrame uzerinde dongu-2

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

In [98]:
# bir ustteki hucrede yazilan ciktiyi veren kodlari yaziniz. (cars dataframe'inin uzerinde dongu kullanarak)
for sutun, satir in cars.iterrows() :
    print(sutun,':', satir['cars_per_cap'])

US : 809
AUS : 731
JAP : 588
IN : 18
RU : 200
MOR : 70
EG : 45

16. Dongu ile dataframe'e ait olan bir degiskeni alip, bir islem yapip baska bir degisken olarak dataframe'e ekleme

In [102]:
cars

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

In [147]:
# Cars verisi uzerinde goruldugu gibi country adli bir degisken(kolon) var. df uzerinde for dongusu ile bu degiskeni kullanip 
# ayni ulke isimlerinin buyuk harfli halini barindiran yeni bir degisken olusturup bu veriye ekleyiniz.
# yeni degiskenin adi: COUNTRY seklinde olsun
COUNTRY = []
for sutun, satir in cars.iterrows() :
    
    COUNTRY.append(satir['country'])
#COUNTRY = [x.upper() for x in COUNTRY]

cars['COUNTRY'] = COUNTRY
# df i yazdiriniz
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  United States
AUS           731      Australia         False      Australia
JAP           588          Japan         False          Japan
IN             18          India         False          India
RU            200         Russia          True         Russia
MOR            70        Morocco          True        Morocco
EG             45          Egypt          True          Egypt

17. dongu yerine .apply() methodu:

In [157]:
import pandas as pd
# cars verisinin ilk halini tekrar cagiralim:
cars = pd.read_csv('cars.csv', index_col = 0)
cars['COUNTRY'] = cars['country'].str.upper()
cars

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

BILGI: Asagida verilen iki kod parcacigi ayni isi yapar:

for degisken, gozlem in df.iterrows() :
    df.loc[degisken, "name_length"] = len(gozlem["country"])

df["name_length"] = df["country"].apply(len)

In [156]:
import pandas as pd
# cars verisinin ilk halini tekrar cagiralim:
cars = pd.read_csv('cars.csv', index_col = 0)

# 16. adimda yapilan ayni seyi .apply(str.upper)  yontemi ile yapiniz. (Bilgiye dikkat!)

for degisken, gozlem in cars.iterrows() :
    cars.loc[degisken, "COUNTRY"] = gozlem["country"]

cars["COUNTRY"] = cars["country"].apply(str.upper)

# cars df sini yazdiriniz
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT